html{
  font-family:'Mukta', 'Arial';
  background-color:orange;
}

h2,h3{
  color:white;
}

body{
  height: 100vh;
}

/*
.hobbies {
  display: grid;

}

.walk img{
  display: grid;
  grid-column: 1/span 3;
  grid-row: 1/span 1;
}

.reward img{
  display: grid;
  grid-column: 1/span 3;
  grid-row: 2/span 1;
}

.place img{
  display: grid;
  grid-column: 1/span 3;
  grid-row: 3/span 1;
}
 */


/* Navbar pseduoclasses */

header{
  position: relative;
  padding: 0 2rem;

}

.navbar{
  width: 100%;
  height: 75px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  
}

.logo a{
  text-shadow: 1px 1px black;
}

.navbar .nav-links{
  display: flex;
  gap: 2.5rem;
  list-style: none;
  font-size: 1.5rem;
}

.navbar .toggle-btn{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Dropdown responsive nav-bar */

.dropdown-menu{
  /* Display is none to hide dropdown menu, displayed in media query */
  display:none;
  position: absolute;
  right: 2rem;
  top: 75px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
  height: 250px;
}

.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.dropdown-menu {
  width: 75%;
  display: flex;
  justify-content: center;
  
}

.dropdown-menu a{
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

/* Main text area */

.about-me{
  height: calc(75vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color:rgba(5, 41, 218, 0.5)
  

}

.about-me h2{
  
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.about-me-info {
  padding: 50px;
  margin-left: auto;
}


main img {
  max-height: 350px;
  max-width: 300px;
  float: right;
  border-radius: 20px;
  box-shadow: 2px 2px rgba(28, 126, 200, 0.67);
  margin-left: 30px;
}








/*Font families */

@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/mukta/v14/iJWHBXyXfDDVXbFqj2md8WD07oB-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Responsive design with drop down menu */

/* Responsive */
@media(max-width: 992px){
  .navbar .nav-links,
  .navbar .action-btn{
    display: none;
  }

  .navbar .toggle-btn{
    display: block;
  }

  .dropdown-menu{
    display: block; 
  }

}

@media(max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }

}
